<%- include("header") -%>
    <h2>
        About Us
    </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore a cum necessitatibus. Rerum facilis ducimus
        necessitatibus accusantium corporis itaque. Vero adipisci, enim obcaecati iusto dolorem pariatur repudiandae
        omnis nulla ratione ea sunt facere accusantium rem tenetur optio rerum saepe quae quidem! Aliquid, error fugit.
        Consectetur qui quis repudiandae sit labore quo, consequuntur delectus nesciunt consequatur dolor suscipit iste
        cupiditate sequi dolorem fugiat quos nam sint quasi doloribus magnam architecto placeat. Reprehenderit minima
        soluta ad consectetur ab quam, tenetur, hic adipisci omnis quae sunt explicabo esse doloremque in itaque
        necessitatibus quos reiciendis et dolorem dicta facilis non, totam pariatur. Asperiores modi quae excepturi
        harum aperiam ea reprehenderit illo vitae in eveniet, magnam aspernatur et fuga numquam voluptates quaerat.
        Provident illum voluptates molestias harum rem. Ipsum, in inventore et aliquam deleniti sunt rem blanditiis quas
        non eius est cupiditate repellat delectus eligendi officiis harum, dolore ratione distinctio numquam? Modi iusto
        autem ipsum quia possimus, aspernatur maiores sed! Ad, quam perferendis deleniti vero porro nisi nemo error
        nulla voluptate quas! Cumque earum rerum ipsa aspernatur reiciendis, suscipit, voluptatum repellendus cum nisi
        sint fugit recusandae totam quam consequuntur tempore! Aliquam pariatur repellendus excepturi praesentium eos
        incidunt sit? Aliquam eveniet, impedit rerum officiis molestiae corrupti.</p>
    <%- include("footer") -%>